.header__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    height: fit-content;
}

.header__title-main {
    font-family: "DM Serif Display";
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    color: var(--content-secondary);
    line-height: 1;
}

.header__title-sub {
    font-family: "DM Serif Display";
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--content-primary);
    line-height: 1;
}