.page-container {
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 560px;
}

.header {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    height: fit-content;
}

.header__title {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: fit-content;
}

.header__title-main {
    font-family: "DM Serif Display";
    font-size: 3rem;
    color: var(--content-secondary);
    line-height: 1;
}

.header__title-sub {
    font-family: "DM Serif Display";
    font-size: 1.5rem;
    color: var(--content-primary);
    line-height: 1;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
}

.select-container {
    width: 14rem;
}

.avatar-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.badge-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.sidebar-demo {
    width: 15rem;
    height: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1.25 !important;
}

.test-icon {
    width: 24px;
    height: 24px;
}